kube-prometheus-stack:
  # 1. Prometheus Operator 설정 (Webhook 비활성화 - 충돌 방지용)
  prometheusOperator:
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false
    tls:
      enabled: false

  # 2. Prometheus 본체 설정
  prometheus:
    # --- Ingress 설정 추가 (Prometheus UI 접속용) ---
    ingress:
      enabled: true
      ingressClassName: alb
      annotations:
        kubernetes.io/ingress.class: alb
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'

        # [중요] 헬스체크 경로 수정 (이 두 줄을 꼭 추가하세요!)
        #alb.ingress.kubernetes.io/healthcheck-path: /-/healthy
        #alb.ingress.kubernetes.io/success-codes: '200'
        alb.ingress.kubernetes.io/healthcheck-path: /
        
      hosts:
        - ""   
      paths:
        - /    

    # --- 기존 Prometheus Spec 설정 ---
    prometheusSpec:
      externalLabels:
        cluster: "eks-cluster" # Thanos가 구분할 클러스터 이름
      
      # Thanos Sidecar 설정
      thanos:
        image: quay.io/thanos/thanos:v0.31.0
        version: v0.31.0
      
      # 데이터 보존 기간
      retention: 2d
