# ======================================================
# kube-prometheus-stack (dependency root)
# ======================================================
kube-prometheus-stack:

  # ======================================================
  # 1. Prometheus Operator
  #   - admission webhook 완전 비활성화 (RBAC 재생성 차단)
  # ======================================================
  prometheusOperator:
    enabled: true
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false
      certManager:
        enabled: false
    tls:
      enabled: false

  # ======================================================
  # 2. Prometheus
  # ======================================================
   # ======================================================
  # 2. Prometheus
  # ======================================================
  prometheus:
    ingress:
      enabled: true
      ingressClassName: alb
      annotations:
        alb.ingress.kubernetes.io/group.name: "monitoring-alb"
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
        alb.ingress.kubernetes.io/healthcheck-path: /-/healthy
        alb.ingress.kubernetes.io/success-codes: "200"
      hosts: []
      paths:
        - /
      pathType: Prefix

    prometheusSpec:
      enableRemoteWriteReceiver: true  #삭제하면안됨

      # ✅ 여기 꼭 추가 (nil pointer 방지)
      remoteWriteDashboards: false

      serviceMonitorSelectorNilUsesHelmValues: true
      podMonitorSelectorNilUsesHelmValues: true

      externalLabels:
        cluster: "eks-cluster"
      retention: 2d

      thanos:
        image: quay.io/thanos/thanos:v0.31.0
        version: v0.31.0

        #blockSize: 5m
        
        objectStorageConfig:
          existingSecret:
            name: thanos-objstore-config
            key: objstore.yml

      additionalScrapeConfigs:
        - job_name: 'jellyfin-manual-scrape'
          static_configs:
            - targets: ['jellyfin-service.jellyfin.svc.cluster.local:80']
        # 만약 엑스포터 경로가 /metrics가 아니라면 아래 설정 추가
          metrics_path: /metrics



  # ======================================================
  # kubelet
  # ======================================================
  kubelet:
    enabled: true
    serviceMonitor:
      enabled: true
      cAdvisor: true

      https: true
      insecureSkipVerify: true

      resource: false
      probes: true

  # ======================================================
  # 3. Alertmanager
  # ======================================================
  alertmanager:
    enabled: true
    ingress:
      enabled: true
      ingressClassName: alb
      annotations:
        alb.ingress.kubernetes.io/group.name: "monitoring-alb"
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
        alb.ingress.kubernetes.io/healthcheck-path: /-/healthy
        alb.ingress.kubernetes.io/success-codes: '200'
      hosts: []
      paths:
        - /alertmanager
      pathType: Prefix

    config:
      global:
        resolve_timeout: 5m

      route:
        receiver: route53-webhook
        group_by: ["alertname"]
        group_wait: 10s
        group_interval: 30s
        repeat_interval: 1m

        routes:
          - matchers:
              - alertname=~"ONPREM_OKD_CPU_.*"
            receiver: route53-webhook

          - matchers:
              - alertname=~"AWS_EKS_CPU_.*"
            receiver: route53-webhook

      receivers:
        - name: route53-webhook
          webhook_configs:
            - url: "https://hk8fwhdboc.execute-api.us-east-1.amazonaws.com/prod"
              send_resolved: true

    alertmanagerSpec:
      externalUrl: "http://k8s-monitoringalbgrou-9a6446449e-137211545.us-east-1.elb.amazonaws.com/alertmanager"
      routePrefix: /alertmanager
