adminUser: admin
adminPassword: "ChangeMe-StrongPassword"

service:
  type: ClusterIP

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
