apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 57.0.3
    helm:
      skipCrds: true
      parameters:
        - name: crds.enabled
          value: "false"
      values: |
        grafana:
          enabled: false

        prometheus:
          prometheusSpec:
            replicas: 1
          ingress:
            enabled: true
            ingressClassName: alb
            annotations:
              kubernetes.io/ingress.class: alb
              alb.ingress.kubernetes.io/scheme: internet-facing
              alb.ingress.kubernetes.io/target-type: ip
              alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
            paths:
              - /
            pathType: Prefix

        alertmanager:
          alertmanagerSpec:
            replicas: 1
          ingress:
            enabled: true
            ingressClassName: alb
            annotations:
              kubernetes.io/ingress.class: alb
              alb.ingress.kubernetes.io/scheme: internet-facing
              alb.ingress.kubernetes.io/target-type: ip
              alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80}]'
            paths:
              - /
            pathType: Prefix

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
