replicas: 1

elasticsearchHosts: "http://elasticsearch:9200"

service:
  type: LoadBalancer
  port: 5601

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi
