grafana:
  # 1. Ingress 설정
  ingress:
    enabled: true
    ingressClassName: alb
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    hosts:
      - ""
    path: /

  # 2. 데이터소스 설정
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Thanos
          type: prometheus
          url: http://thanos-query:9090
          access: proxy
          isDefault: true


  adminPassword: "123456"
  
  persistence:
    enabled: true
    size: 10Gi
