thanos:
  query:
    enabled: true
    # 차트가 만드는 이상한 Ingress 설정을 아예 포기합니다.
    ingress:
      enabled: false 

    dnsDiscovery:
      sidecarsService: "prometheus-stack-thanos-discovery"
      sidecarsNamespace: "monitoring"
