thanos:
  query:
    enabled: true
    stores:
      - prometheus-operated.monitoring.svc.cluster.local:10901
      - thanos-storegateway.monitoring.svc.cluster.local:10901
      - thanos-sidecar.monitoring.svc.cluster.local:10901
    ingress:
      enabled: false

  # storegateway는 query와 같은 레벨
  storegateway:
    enabled: true
    
  # S3 설정 (공통)
  objstoreConfig: ""
  existingObjstoreSecret: "thanos-objstore-config"

  # image 설정
  image:
    registry: "quay.io"
    repository: "thanos/thanos"
    tag: "v0.32.5"
