thanos:
  query:
    enabled: true
    ingress:
      enabled: false 

    dnsDiscovery:
      sidecarsService: "prometheus-stack-thanos-discovery"
      sidecarsNamespace: "monitoring"

  # 이 부분을 반드시 추가해야 합니다!
  image:
    registry: "quay.io"
    repository: "thanos/thanos"
    tag: "v0.32.5"
