thanos:
  query:
    enabled: true
    # 여기에 아래 내용을 추가합니다
    extraArgs:
      - --store=kube-prometheus-kube-prome-prometheus.monitoring.svc.cluster.local:10901
    
    ingress:
      enabled: false 

    dnsDiscovery:
      sidecarsService: "prometheus-stack-thanos-discovery"
      sidecarsNamespace: "monitoring"

  image:
    registry: "quay.io"
    repository: "thanos/thanos"
    tag: "v0.32.5"
