thanos:
  query:
    enabled: true
    ingress:
      enabled: true
      ingressClassName: "alb"
      # host 설정을 비워두어 모든 호스트(*)를 허용하도록 합니다.
      hostname: "" 
      pathType: ImplementationSpecific
      annotations:
        alb.ingress.kubernetes.io/scheme: "internet-facing"
        alb.ingress.kubernetes.io/target-type: "ip"
        alb.ingress.kubernetes.io/group.name: "monitoring-alb-group"
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'

    dnsDiscovery:
      sidecarsService: "prometheus-stack-thanos-discovery"
      sidecarsNamespace: "monitoring"
  image:
    registry: "quay.io"
    repository: "thanos/thanos"
    tag: "v0.32.5"
