apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cleanup-kube-prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/hybrid-cloud-team/my-ecr-obs.git
    targetRevision: main
    path: obs/monitoring/cleanup-kube-prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - PrunePropagationPolicy=foreground
      - PruneLast=true
