name: Build & Push Fluentd to ECR

"on":
  push:
    branches: [ "main" ]
    paths:
      - "obs/fluentd/**"
      - ".github/workflows/prometheus-ecr.yml"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # (아래는 기존 너희 steps 그대로 두면 됨)
